


.navbar{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(222, 220, 220);
  padding: 1rem;
}

.input-note{
  
  padding: 3rem;
  width: 70%;
}

.input-note > h1{
  margin-left: 1rem;
}

.Card-container{
  margin: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.time{
  font-size: xx-small;
  color: gray;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
}